<!-header start--->
  <div class="header">
    <a href="" class="logo"><img src="/admin/images/logo.png"></a>
      <ul class="layui-nav layui-inline">
        
        <li class="layui-nav-item"><a href="">首页</a></li>
        <li class="layui-nav-item layui-this">
          <a href="">管理员</a>
         
        </li>
        <li class="layui-nav-item"><a href="">会员</a></li>
        <li class="layui-nav-item">
          <a href="">系统</a>
          
        </li>
        <li class="layui-nav-item"><a href="">社区</a></li>
      </ul>
  </div>
  <!-header end--->