<!-side start--->
  <div class="layui-side" style="position: static;">
  <div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree">
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">菜单管理</a>
    <dl class="layui-nav-child">
      <dd><a href="{:url('menu/index')}">菜单列表</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item"><a href="{:url('manager/index')}">管理员</a></li>
  <li class="layui-nav-item">
    <a href="javascript:;">解决方案</a>
    <dl class="layui-nav-child">
      <dd><a href="">移动模块</a></dd>
      <dd><a href="">后台模版</a></dd>
      <dd><a href="">电商平台</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item"><a href="">大数据</a></li>
  <li class="layui-nav-item"><a href="">社区</a></li>
</ul>
</div>
  </div>
  <!-side end--->