.header .layui-nav {
    border-bottom-color: #1AA094;
    background-color: #fff;
    padding-left: 73%;
}

.header {
    border-bottom: 5px solid #1AA094;
}

.header .layui-nav .layui-nav-item a {
    color: #999;
}


.header {
    width:auto;
}


.header .logo {
    margin-left:40px;
}

.header .layui-nav .layui-nav-item a:hover, .header-demo .layui-nav .layui-this a {
    color: #000;
}

div.layui-side {
    width:15%;
    top:65px;
}

div.layui-tab {
    width:83%;
}



div.layui-side,div.layui-tab {
    float: left;
}

.layui-elem-field {
    padding: 10px;
}

.site-demo-upload {
    position: relative;
    background: #e2e2e2;
}

.site-demo-upload, .site-demo-upload img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.site-demo-upload .site-demo-upbar {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -56px;
}

.site-demo-upload .layui-upload-button {
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,1);
}

